mixin alert-success(time)
    - if (messages.success)
        div(
            class="alert alert-success" 
            show-alert 
            time-data="5000") 
            | #{messages.success} <span close-alert>X</span> 
