extends ../../layouts/default.pug
include ../../mixins/alert.pug

block  main 
    +alert-errors(5000)
    .container.my-5
        .row.justify-content-center 
            .col-8 
                h1(class="text-center") Lấy lại mật khẩu
                form(action="/user/password/forgot", method="post")
                    .form-group
                        label(for="email") Email
                        input.form-control(type="email", name="email" id="email" placeholder="Email" required)
                    button.btn.btn-primary.btn-block(type="submit") Gửi email xác nhận