extends ../../layouts/default.pug
include ../../mixins/alert.pug

block  main 
    +alert-errors(5000)
    .container.my-5
        .row.justify-content-center 
            .col-8 
                h1(class="text-center") Nhập otp để lấy lại mật khẩu
                form(action="/user/password/otp", method="post")
                    .form-group
                        label(for="email") Email
                        input.form-control(type="email" value=email name="email"  id="email" placeholder="Email" readonly)
                    .form-group
                        label(for="otp") Nhập mã OTP
                        input.form-control(type="number" name="otp" id="otp" placeholder="Nhập mã OTP" required)
                    button.btn.btn-primary.btn-block(type="submit") Xác nhận
                
                    
                    