.sider
  h5 ADMIN MENU
  ul.list-unstyled
    li
      a(href=`${prefixAdmin}/dashboard`, class="text-white active")
        i(class="fas fa-tachometer-alt")
        |  Dashboard
    li
      a(href=`${prefixAdmin}/products`, class="text-white")
        i(class="fas fa-box")
        |  Products
    li
      a(href=`${prefixAdmin}/users`, class="text-white")
        i(class="fas fa-users")
        |  Users
