.sider
  h5 ADMIN MENU
  ul.list-unstyled
    li
      a(href=`${prefixAdmin}/dashboard`, class="text-white active")
        i(class="fas fa-tachometer-alt")
        |  Dashboard
    li
      a(href=`${prefixAdmin}/products-category`, class="text-white")
        i(class="fas fa-list")
        |  Danh mục
    li
      a(href=`${prefixAdmin}/products`, class="text-white")
        i(class="fas fa-box")
        |  Danh sách sản phẩm
    li
      a(href=`${prefixAdmin}/users`, class="text-white")
        i(class="fas fa-users")
        |  Danh sách user
